<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Inicial</title>
</head>
<body>
  <nav>
    <a href="/index">Home</a> |
    <a href="/contato">Contato</a>
  </nav>
  {%block conteudo%} <!-- INICIO CONTEÚDO DE OUTRAS PÁGINAS-->
  {%endblock%} <!-- FIM DO CONTÚDO DAS OUTRAS PÁGINAS-->
<h5>Totos Direitos Reservados a DnSistemas</h5>
</body>
</html>